<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <title>{{ title }}</title>
</head>

<body>

<b>{{ title }}</b>

<ul id="navigation">
    {% for item in report.keys () %}
        <li>{{item}} = {{ report [item]</li>
    {% endfor %}
    </ul>

</body>
</html>
