<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Expenses Viewer</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Expenses Viewer</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Previous month</a></li>
            <li><a href="#">Next month</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="page-header">
        <div class="container">
            <h2>{{ title }}</h1>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Incomes: {{ report ['_tot_incomes'] }}</h2>
                    <table class="table">
                        <tr>
                            <th class="info">Amount</th>
                            <th class="info">Category</th>
                            <th class="info">Description</th>
                            <th class="info">Date</th>
                        </tr>
                        {% for item in report ['_incomes'] %}
                        <tr>
                            <td>{{ item.amount }}</td>
                            <td>{{ item.category }}</td>
                            <td>{{ item.comment }}</td>
                            <td>{{ item.date_str }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-md-4">
                    <h2>Outcomes: {{ report ['_tot_outcomes'] }}</h2>
                    <table class="table">
                        <tr>
                            <th class="info">Amount</th>
                            <th class="info">Category</th>
                            <th class="info">Description</th>
                            <th class="info">Date</th>
                        </tr>
                        {% for item in report ['_outcomes'] %}
                        <tr>
                            <td>{{ item.amount }}</td>
                            <td>{{ item.category }}</td>
                            <td>{{ item.comment }}</td>
                            <td>{{ item.date_str }} </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-md-4">
                    <h2>Comparison</h2>
                    <table class="table">
                        <tr>
                            <th class="info">Amount</th>
                            <th class="info">Category</th>
                            <th class="info">Month var.</th>
                            <th class="info">Year var.</th>
                        </tr>
                        {% for category in categories %}
                        <tr>
                            <td>{{ category }}</td>
                            <td>{{ report ['_categories'][category] }}</td>
                            <td>{{ diff_mon [category] }}</td>
                            <td>{{ diff_year [category] }}</td>
                        </tr>
                        {% endfor %}
                    </table>

                </div>
            </div>
        </div>
    </section>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

